#menu >div {
    width: 25px;
    height: 2px;
    background-color: #37474F;
    margin: 6px 0;
  }
#menu{
    margin-left: 10px;
}
#navbar > img{
width: 100px;
margin: 15px;
margin-top: 0px;
}
 #navbar{
     margin-top: 30px;
     display: flex;
 }
 #navbar > :nth-child(3) > div>*{
 width: 300px;
 height: 30px;
 }
 #navbar >:nth-child(3){
     width: fit-content;
     margin: auto;
     display: flex;
 }
 #navbar > :nth-child(3) >button{
    height: 35px;
    width: 60px;
    }
    #navbar >:nth-child(3)>*{
        vertical-align: top;
    }
#navbar > :nth-child(4) > *{
    height: 35px;
    border-radius: 50%;
    margin: 10px;
    vertical-align: top;
}
#sidebar{
    display: inline-block;
    flex-direction: column;
    width: fit-content;
    transition: 2s;
    height: fit-content;
}
#sidebar> *{
font-size:30px;
margin: 10px;
}
.hidden{
    margin-left: 20px;
    vertical-align: top;
    text-align: left;
    display: none;
}
#sidebar :hover{
background-color: grey;

}
#grid{
    display:grid;
    grid-template-columns: 1fr;
    margin: auto;
}
#searchresults{
    height: 300px !important;
    position: absolute;
    background-color: gainsboro;
    display: none;
}